server:
  port: 8081
  servlet:
    context-path: /catalogue

spring:
  application:
    name: catalogue-service

  datasource:
    url: jdbc:h2:mem:catalogue_db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: create-drop
#    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    ma.ensaf.ecommerce: DEBUG
    org.hibernate.SQL: DEBUG
